#mainbanner .swiper-slide {
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 444px;
}

.eventSale {
  background-image: url(./imgswiper/a.png);
  background-color: slateblue;
}

.newProduct {
  background-image: url(./imgswiper/b.png);
  background-color: steelblue;
}

.joinEvent {
  background-image: url(./imgswiper/c.png);
  background-color: palegreen;
}

@media (max-width: 768px) {
  #mainbanner .swiper-slide {
    height: 0;
    padding-top: 56%;
    background-size: 100% auto;
  }
}

@media (max-width: 992px) {
  #mainbanner .swiper-slide {
    height: 0;
    padding-top: 56%;
    background-size: 100% auto;
  }
}

.buttonbox {
  padding: 50px;
  width: 10%;
  position: relative;
  z-index: 150;
}

.buttonbox .STbutton {
  background-image: url(./imgswiper/1.jpg);
  background-size: 100% auto;
}
