
#mainbanner .swiper-slide{
    // padding-left: 50px;
    // padding-right: 50px;
    background-repeat:no-repeat;
    background-position: center bottom;
    // img 중에 가장 큰 사이즈로 고정픽셀을 정해준다
    height: 444px;
}

.eventSale{
    // background-image: url(./imgswiper/1.jpg);
    background-image: url(./imgswiper/a.png);
    background-color:slateblue;
}
.newProduct{
    // background-image: url(./imgswiper/2.jpg);
    background-image: url(./imgswiper/b.png);
    background-color:steelblue;
}
.joinEvent{
    // background-image: url(./imgswiper/3.jpg);
    background-image: url(./imgswiper/c.png);
    background-color:palegreen;
}

@media (max-width:768px ){
    #mainbanner .swiper-slide{
            height:0;
            padding-top: 56%;
            background-size: 100% auto;
        }
 }
 @media(max-width:992px){
    #mainbanner .swiper-slide{
        height:0;
        padding-top: 56%;
        background-size: 100% auto;
    }
 }

 .buttonbox{
     padding:50px;
     width:10%;
     position:relative;
     z-index: 150;

     .STbutton{
         background-image: url(./imgswiper/1.jpg);
         background-size: 100% auto;
     }
 }

 #mainbanner .buttonbox .STbutton{

 }
